<style>
.disable-select
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.pointer
{
	cursor: pointer;
}
</style>
<nav class="navbar navbar-default" style="margin-top:15px">
	<div class="container-fluid">
		<a class="btn btn-default btn-info navbar-btn" ng-click="scrollToBottom()">
			Draft Reply
		</a>
		<a class="btn btn-default btn-success navbar-btn" ng-show="ticket.open" ng-click="markClosed()">
			Mark As Resolved
		</a>
		<a class="btn btn-default btn-warning navbar-btn" ng-hide="ticket.open" ng-click="markOpened()">
			Mark As Opened
		</a>

		<p class="navbar-text disable-select pointer navbar-right" ng-click="toggleViewed()">
			<i class="fa fa-square-o disable-select" ng-hide="ticket.viewed"></i>
			<i class="fa fa-square disable-select" style="color:#2ecc71" ng-show="ticket.viewed"></i>
			Viewed
		</p>
	</div>
</nav>
<form class="form-horizontal" name="userform" novalidate>
	<div class="form-group">
		<label class="col-sm-2 control-label">
			Email
		</label>
		<div class="col-sm-10">
			<p class="form-control-static">
				{{ ticket.email }}
			</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">
			URL
		</label>
		<div class="col-sm-10">
			<p class="form-control-static">
				<a href="{{ ticket.error_url }}">{{ ticket.error_url }}</a>
			</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">
			Opened On
		</label>
		<div class="col-sm-10">
			<p class="form-control-static">
				{{ ticket.created | toDate | date: 'h:mm:ss a on EEEE, MMMM yyyy' }}
			</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">
			Name
		</label>
		<div class="col-sm-10">
			<p class="form-control-static">
				{{ ticket.firstname }} {{ ticket.lastname }}
			</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">
			Description
		</label>
		<div class="col-sm-10">
			<p class="form-control-static" ng-bind-html="ticket.description | nl2br" style="height:300px;overflow-y:scroll;border:1px solid #D6D6D6;padding:15px;margin:10px 0px">
			</p>
		</div>
	</div>
</form>

<h4>Repond to Ticket</h4>
<hr />

<p ng-repeat="comment in ticket.comments">
{{ comment.body }}
</p>

<form name="replyForm" novalidate ng-submit="replyForm.$valid && addComment()">
	<div class="form-group">
		<label class="col-sm-2 control-label">
			Add Reply
		</label>

		<div class="col-sm-10 no-padding">
			<textarea rows="5" style="margin-left:5px" class="form-control" ng-model="comment" required></textarea>
		</div>

		<div class="col-sm-4 col-sm-offset-2" style="padding-left:5px;margin-top:10px">
			<button type="submit" class="btn btn-primary" id="add-comment">Add Comment</button>
		</div>
	<div>
</form>